doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")
    body
        main#main.main
            #all-users.all-users
                .top-bar
                    h1.top-bar__title Lista de Clientes
                #content-users.content
                    .content__header
                        -const headers = ['DNI', 'Nombres', 'Apellidos','Edad','Peso','Talla', 'options']
                        each header in headers
                            p.content__text.content__text--header= header

                    .content__users
                        -const clientes = allClientes
                            each cliente in clientes
                                div(data-id= cliente.id).content__user
                                    p.content__text.content__text--center= cliente.dni
                                    p.content__text.content__text--center= cliente.nombres
                                    p.content__text.content__text--center= cliente.apellidos
                                    p.content__text.content__text--center= cliente.edad
                                    p.content__text.content__text--center= cliente.peso
                                    p.content__text.content__text--center= cliente.talla
                                    //- p.content__text.content__text--email= cliente.email
                                    button.button.button--edit.fas.fa-pen
                                    button(data-id=cliente.id).button.button--delete.fas.fa-trash
            #user-info.user-info
                .top-bar
                    h1#user-info-title.top-bar__title Nuevo Cliente
                form(action="/agregar-cliente" method="POST")#user-info-form.content__user.content__user--user-info
                    label.content__text--item DNI
                        input(type="text" name="dni" required)#user-info-dni.content__text
                    label.content__text--item Nombres
                        input(type="text" name="nombres" required)#user-info-nombres.content__text
                    label.content__text--item Apellidos
                        input(type="text" name="apellidos" required)#user-info-apellidos.content__text
                    label.content__text--item Edad
                        input(type="text" name="edad" required)#user-info-edad.content__text
                    label.content__text--item Peso
                        input(type="text" name="peso" required)#user-info-peso.content__text
                    label.content__text--item Talla
                        input(type="text" name="talla" required)#user-info-talla.content__text

                    button#user-info-button.button.button--addUser.content__text--item Agregar Cliente
                    button.button.button--cancel.content__text--item Cancel
            script(src="js/scripts-min.js")